---
import '../styles/globals.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main class="w-full h-screen flex justify-center  bg-yellow">
			<div>
				<div class="w-full max-w-[23.75rem] p-[1.4375rem] bg-white mt-[13.8125rem] border border-black rounded-[1.25rem]">
					
					<div class="w-full">
						<img src="/images/illustration-article.svg" alt="image-avatar">
					</div>

					<div class="mt-[1.375rem]">
						<div class="px-[.75rem] py-[.25rem] text-[.875rem] bg-yellow w-fit font-extrabold">Learning</div>

						<h2 class="mt-[.75rem] text-[.875rem] font-medium">Published 21 Dec 2023</h2>

						<h1 class="mt-[.8125rem] text-[1.5rem] font-extrabold">HTML & CSS foundations</h1>

						<p class="mt-[.8125rem] font-medium">These languages are the backbone of every website, defining structure, content, and presentation.</p>

						<div class="mt-[1.3125rem] flex items-center gap-[.625rem]">
							
							<div class="w-auto h-[2.1875rem]">
								<img src="/images/image-avatar.webp" alt="image-avatar" class="w-full h-full">
							</div>

							<p class="text-[.875rem] font-bold">Greg Hooper</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
